 <div class="container" style="padding-top: 90px;">
            <div class="row">
                <aside class="col-md-3">
                    <h2>Coming soon</h2>
                    <p>Stay tuned for future updates… </p>
                </aside>
                <section class="main col-md-9">
                    <article>
                        <h2>Who am I</h2>
                        <p>
                            Hello, My name is daeuk Kim, currently Joining seneca Cpp(computer-programming) 2year course.
                            Making application with about, json reaction pages.
                            I'd like to listen a music especially ballad genre, Also playing a video game. 
                            Feel free to contact me 
                            Email : dkim209@myseneca.ca
                        </p>
                        <p>
                            Before becoming a programmer (student) in Canada, I worked in various fields in Korea.
                            Listing my previous experience
                            <ul>
                                <li>youth orchestra member</li>
                                <li>Participation in numerous invention contests</li>
                                <li>Various debate competitions</li>
                            </ul>
                            Could it be my PR? hehe, Thank you very much.
                        </p>
                    </article>
                </section>
            </div>
        </div>